name: Docker CI/CD Pipeline
 
on:
 push:
   branches: [main]
 
jobs:
 build-test-deploy:
   runs-on: ubuntu-latest
 
   steps:
     - name: Checkout code
       uses: actions/checkout@v2
 
     - name: Set up Docker Image Version
       id: versioning
       run: |
         VERSION=$( TZ=Asia/Kolkata date +'%Y%m%d%H%M%S') # Generates a timestamp-based version
         echo "VERSION=$VERSION" >> $GITHUB_ENV
 
     - name: Login to Docker Hub
       uses: docker/login-action@v1
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
 
     - name: Build and Push Docker Image
       uses: docker/build-push-action@v2
       with:
         context: .
         push: true
         tags: |
           ${{ secrets.DOCKER_USERNAME }}/dev_repo1:latest
           ${{ secrets.DOCKER_USERNAME }}/dev_repo1:${{ env.VERSION }}
 
     - name: Deploy to EC2 instance
       uses: appleboy/ssh-action@v0.1.10
       with:
         host: ${{ secrets.EC2_HOST }}
         username: ${{ secrets.EC2_USERNAME }}
         key: ${{ secrets.EC2_PRIVATE_KEY }}
         script: |
           # Stop and remove existing container
           docker stop aita_container || true
           docker rm aita_container || true
          
           # Pull the latest versioned image
           docker pull ${{ secrets.DOCKER_USERNAME }}/dev_repo1:${{ env.VERSION }}
 
           # Run the container with the new version
           docker run -d --name aita_container -p 80:80 ${{ secrets.DOCKER_USERNAME }}/dev_repo1:${{ env.VERSION }}
